h1 {
    margin-left: 25%;
    margin-right: 25%;
    font-size: 3.5rem;
    text-align: center;
    /* font-family: 'Bubblegum Sans', cursive; */
    font-family: 'Comic Sans MS', cursive;
    color: white;
    text-shadow: 2px 2px #7a7a7a;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    background-color: #eddcff;
    /* overflow: hidden; */
}

#canvas {
    margin: 0px;
    padding: 0px;
  }

.center {
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    max-height: 60vh;
}

#animate{
    left: 0px;
    top: -100px;
    margin: 0 auto;
    width: 10px;
    overflow: visible;
    position: relative;
}  

.image {
    max-width: 80rem;
    max-height: 25rem;
    height: auto;
    display: block;
    border: 20px solid #ffedfe;
}

@media only screen and (max-device-width: 600px) {
    .image {
        max-height: 40rem;
    }
    h1 {
        font-family: 'Bubblegum Sans', cursive;
        font-size: 6rem;
        margin-left: 10%;
        margin-right: 10%;
    }
    #animate {
        width: 100%;
    }
}