h1 {
    margin-left: 25%;
    margin-right: 25%;
    font-size: 4rem;
    text-align: center;
    font-family: 'Bubblegum Sans', cursive;
    color: white;
    text-shadow: 2px 2px #7a7a7a;
}

body {
    background-color: #eddcff;
    overflow: hidden;
}

#canvas {
    margin: 0px;
    padding: 0px;
  }

.center {
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    max-height: 60vh;
}

img {
    max-width: 80rem;
    max-height: 60vh;
    height: auto;
    display: block;
    border: 20px solid #ffedfe;
}